.vscode/**
.vscode-test/**
src/**
ui/**
!ui/dist/**
node_modules/**
!node_modules/uuid/**
docs/**
.git/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
ui/**/*.json
package-lock.json